.bayer-country-data {
	display: none;
}

.bayer-country-data.current {
	display: inherit;
}

.bayer-local-community {
	display: none;
}

.bayer-local-community.current {
	display: inherit;
}

.bcd-header {
	background-color: #a8abad;
	color: black;
	font-weight: bold;
	font-size: 13pt;
	min-height: 18px;
}

.bcd-data {
	background-color: white;
	color: black;
	font-size: 12pt;
	font-weight: 300;
	height: 54px;
	min-height: 54px;
	vertical-align: text-top;
}

.bcd-header td {
	padding-left: 5px;
}

.bcd-data td {
	padding-left: 5px;
}

.local-community-button {
	background-color: #258fce;
	color: white;
	font-size: 13pt;
	font-weight: bold;
	border: none;
}

.local-community-button.back {
	text-align: center;
	width: 1.2in;
	font-weight: normal;
}

.back-button-cell {
	text-align: right;
	display: none;
}

.back-button-cell {
	text-align: right;
	display: none;
}

.back-button-cell.current {
	display: table-cell;
}

.community-button-row {
	height: 40pt;
	min-height: 40pt;
	vertical-align: text-top;
}

.blc-header {
	background-color: #a8abad;
	color: black;
	font-weight: bold;
}

.blc-data {
	background-color: white;
	color: black;
}

.blc-header td {
	padding-left: 5px;
}

.blc-data td {
	padding-left: 5px;
}

.blc-row-name {
	line-height: 2;
	font-weight: bold;
	display: none;
}

.blc-row-name.current {
	display: table-row;
}

.blc-row-function {
	line-height: 1.2;
	display: none;
}

.blc-row-function.current {
	display: table-row;
}

.blc-row-email {
	line-height: 1.2;
	height: 36px;
	vertical-align: text-top;
	display: none;
}

.blc-row-email.current {
	display: table-row;
}