.country-overview {
	display: none;
	width: 624px;
}

.country-overview.current {
	display: inherit;
}

.ci-table tr.ci-header td {
	background-color: #a8abad;
	color: black;
	font-weight: bold;
	font-size: 13pt;
	padding-left: 5px;
}

.ci-table tr.ci-data td {
	background-color: white;
	color: black;
	font-size: 12pt;
	font-weight: 300;
	min-height: 3em;
	vertical-align: text-top;
	height: 3em;
	padding-left: 5px;
}