.must-win-battles {
	display: none;
	font-size: 12px;
}

.must-win-battles.current {
	display: inherit;
}

.mwb-title {
	background-color: #a8abad;
	color: black;
	font-weight: bold;
	font-size: 13pt;
	min-height: 18px;
	padding-left: 5px;
}

.mwb-list {
	background-color: white;
	color: black;
	font-size: 12pt;
	font-weight: 300;
	vertical-align: text-top;
}

.mwb-list td {
	padding-left: 5px;
}

.mwb-datarow {
	padding-top: 1em;
}

.mwb-datarow-final {
	padding-bottom: 1em;
} 