html {
	
}

body {
	margin-top: 0px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 1.6;
/* 	width: 640px;
	height: 100vh; */
}

.container {
	width: 640px;
	height: 528px;
/* height: 100vh; */
	margin: 0 auto;
	background-color: white;
}

.header-table {
	width: 640px;
	border-collapse: collapse;
	border-spacing: 0px;
	table-layout: fixed;
	background-color: white;
}

.header-table td {
	padding: 0;
	margin: 0;
}

.theHeader {
	font-size: 26pt;
	font-weight: bold;
	text-align: center;
	line-height: 1.2;
}

.tabs {
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	font-size: 18pt;
}

.tabs.tab-link {
	color: white;
	text-align: center;
	padding: 0px 0px;
	margin-right: 0px;
	margin-left: 0px;
	cursor: pointer;
	border-collapse: collapse;
}

.tabs.tab-link.footprint {
	background-color: #258fce;
}

.tabs.tab-link.information {
	background-color: #7dbc2a
}

.tab-content {
	display: none;
	background: #ededed;
	text-align: center;
	padding: 0px;
	color: white;
	font-size: 14pt;
	font-weight: lighter;
}

.tab-content.current {
	display: block;
}

.tab-content.footprint {
	background-color: #258fce;
	border-top: thin;
}

.tab-content.information {
	background-color: #7dbc2a
}

#world-map {
	width: 100%;
	height: 75%
}

.data-section {
	display: none;
	width: 640px;
	background-color: #535a5f;
	padding-top: 10px;
	padding-bottom: 10px;
}

.data-section2 {
	display: inherit;
	width: 624px;
	background-color: white;
	margin-left: 8px;
	margin-right: 8px;
}

.data-section.current {
	display: block;
	text-align: center;
}

.num-selected {
	display: none;
}

.shadowed {
	-webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
	filter:
		url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='drop-shadow'><feGaussianBlur in='SourceAlpha' stdDeviation='4'/><feOffset dx='12' dy='12' result='offsetblur'/><feFlood flood-color='rgba(0,0,0,0.5)'/><feComposite in2='offsetblur' operator='in'/><feMerge><feMergeNode/><feMergeNode in='SourceGraphic'/></feMerge></filter></svg>#drop-shadow");
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
	filter:
		"progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.align-middle {
	vertical-align: middle;
}

.data-table {
	table-layout: fixed;
	text-align: left;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	vertical-align: top;
	width: 600px;
	background-color: white;
}

.data-table-head {
	height: 72px
}

.data-flag {
	width: 70px;
	padding-left: 0px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.data-name {
	color: black;
	font-size: 22.44pt;
	text-align: left;
}

.button-triangle {
	display: inline;
	font-size: 10pt;
	font-weight: normal;
}